$black: #1d1d1d;
$white: rgba(255, 255, 255, 0.87);
$white-dark: rgba(255, 255, 255, 0.6);
$red: #d51a52;
$white-blue: #adc2ff;
$grey: #afafaf;
$body-background: #242424;
$shadow-light: 0 4px 8px -2px rgb(0 85 255 / 16%);
$shadow: 0 2px 4px -2px rgb(0 44 132 / 6%);
$font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-normal: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-extrabold: 800;
$line-height-normal: normal;
$line-height-lg: 1.3;
$line-height-xl: 1.405;
$screen-size-sm: 320px;
$screen-size-md: 480px;
$screen-size-lg: 768px;
$screen-size-xl: 1024px;
$screen-size-xxl: 1440px;
